.header{width: 100%;height: auto;background:red;color: black;height: 80px; }
.banner1{width: 100%;height: 400px;background:url('../image/banner1.jpg'); background-size: 100%; }
.container{width: 100%;height: auto;}
.footer{width: 100%;height: 100px;background:red;color:black; }
#a{width: 25%;height: 50px;float: left;text-align: center;}
#b{width: 25%;height: 50px;float: left;text-align: center;}
#c{width: 25%;height: 50px;float: left;text-align: center;}
#d{width: 25%;height: 50px;float: left;text-align: center;}
a{text-decoration: none;color: black}
#address{width: 50%;height: 300px;float: left;}
